@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "forms.css";
@import 'actiontext.css';
@import "animation.css";
@import "slideover.css";
@import "dropdown.css";